
$color-theme-weak: rgba(124, 183, 212, .1);


.lg-center {}
.md-center {}

// 卡片
.card {
  margin-bottom: 1em;
  border-radius: 4px;
  box-shadow: 0 0 3px 3px #eee;
  overflow: hidden;
  display: block;
  > img {
    width: 100%;
  }
  > .title,
  > .body,
  > .footer {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .title {
    font-size: 1.5em;
  }
  .footer {
    border-top: 1px solid #eee;
  }
}

// 列表
.list {
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #aaa;
  margin-bottom: 1em;
  > li {
    padding: .5em;
    border-bottom: 1px solid #aaa;
    &:last-child {
      border-bottom: none;
    }
  }

  // 交互列表
  &.hover li:hover {
    background-color: $color-theme-weak;
  }
}
.fs-table {
  width: 100%;
  caption-side: bottom;
  text-align: left;
  margin: 1rem 0;
  tbody {
    border-top: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
  }
  tr {
    width: 100%;
  }
  th, td {
    padding: .25em .5em;
  }
  
}