
:root {
  --color-red: red;
  --color-blue: gray;
  --color-green: green;
  --color-gray: green;
  --font-color-basic:  #234567;
  --font-face-basic:
    --bs-font-sans-serif: system-ui, -apple-system,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-face-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/***********************************
 * Style Reset Part
 * 样式重置部分
 * Des: 统一常用标签的样式;
 ***********************************/

/* 基于 border-box 盒模型书写样式 */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* 清除页面标签的基础样式 */
body,
dl, dd, ul, ol,
h1, h2, h3, h4, h5, h6, p,
form, fieldset, legend, input, textarea, optgroup,
pre, blockquote, figure, hr, menu, dir,
thead, tbody, tfoot, th, td {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}


/* 页面文字基本样式 */
body {
  color: var(--font-color);
  line-height: 1.6;
  letter-spacing: .05em;
  font-family: var(--font-face-basic);
}

/* 当页面高度不足满屏的时候撑开页面宽度 */
html, body {
  min-height: 100%;
}

/* 去除列表类标签的样式 */
ul, ol {
  list-style-type: none;
}

/* 禁用图片拖拽 */
img {
  -webkit-user-drag: none;
  user-drag: none;
}

/* 保留链接的下划线交互行为
 * 去除链接的点击背景以及
 * 设置更合适链接颜色
 */
a {
  color: inherit;
  background-color: transparent;
  outline-width: 0;
}

/* 基本样式 */
p {
  margin-bottom: .5em;
}

b, strong {
  font-weight: bolder;
}

/* 地址标签用基本文字样式 */
address {
  font-style: normal;
}

/* 解决 上标和下标 元素影响行高的问题 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -.5em;
}
sub {
  bottom: -.25em;
}

/* 等宽字体标签样式 */
code, kbd, pre, samp {
  font-family: var(--font-face-monospace);
  word-wrap: break-word;
}
kbd,
mark {
  background-color: rgba(0, 0, 0, .5);
  padding-left: .25em;
  padding-right: .25em;
  color: #fff;
  border-radius: 2px;
  margin-left: .25em;
  margin-right: .25em;
}

/* 统一标题样式 */
h1, .h1 { font-size: 2.5em }
h2, .h2 { font-size: 2em }
h3, .h3 { font-size: 1.5em }
h4, .h4,
h5, .h5,
h6, .h6 {
  font-size: 1.25em;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 500;
  margin-bottom: .25em;
}

small, .small {
  font-size: 12px;
}

.weak {
  color: #999;
}

hr {
  margin:  .5em 0;
}

table {
  width: 100%;
  caption-side: bottom;
  border-collapse: collapse;
  text-align: left;
  margin: 1rem 0;
}
tbody {
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
}
tr {
  width: 100%;
}
th, td {
  padding: .25em .5em;
}

/* 表单相关 */
textarea {
  overflow: auto; /* IE6-9中默认显示滚动条 */
  resize: vertical; /* 防止水平拉伸影响布局 */
}

/* 统一表单域边距 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  margin: .25em 0;
  padding: .25em .5em;
  border-radius: .2em;
  border:  1px solid #acaaf2;
}
textarea {
  width: 100%;
  display: block;
}
.button,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  display: inline-block;
  font-weight: 400;
  line-height: inherit;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: #eee;
  border: 1px solid #ccc;
  padding: .25em 1em;
  border-radius: 0.25em;
  margin: .25em .125em;
  border-radius: 4px;
  outline: none;
}
.button:hover,
button:hover,
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
  background-color: #ccc;
}
button:active,
input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active {
  background-color: #aaa;
}
input[type=file] {
  text-align: center;
  background-color: #f00;
  color: #fff;
  display: inline-block;
  padding: .5em 1em;
}
input[type=radio],
input[type=checkbox] {
  margin-right: .1em;
}



/***********************************
 * Layout Part
 * 布局样式
 * Des: 页面布局和排版用到的一些工具类;
 ***********************************/

 /* font-size */
.sp-layout .lh-1, .sp-layout .lh-10 { line-height: 1em; }
.sp-layout .lh-12 { line-height: 1.2em; }
.sp-layout .lh-13 { line-height: 1.3em; }
.sp-layout .lh-14 { line-height: 1.4em; }
.sp-layout .lh-15 { line-height: 1.5em; }
.sp-layout .lh-16 { line-height: 1.2em; }
.sp-layout .lh-17 { line-height: 1.3em; }
.sp-layout .lh-18 { line-height: 1.4em; }
.sp-layout .lh-19 { line-height: 1.5em; }
.sp-layout .lh-2, .sp-layout .lh-20 { line-height: 2em; }

 /* line-height */
.sp-layout .lh-1, .sp-layout .lh-10 { line-height: 1em; }
.sp-layout .lh-12 { line-height: 1.2em; }
.sp-layout .lh-13 { line-height: 1.3em; }
.sp-layout .lh-14 { line-height: 1.4em; }
.sp-layout .lh-15 { line-height: 1.5em; }
.sp-layout .lh-16 { line-height: 1.2em; }
.sp-layout .lh-17 { line-height: 1.3em; }
.sp-layout .lh-18 { line-height: 1.4em; }
.sp-layout .lh-19 { line-height: 1.5em; }
.sp-layout .lh-2, .sp-layout .lh-20 { line-height: 2em; }

 /* letter-space */
.sp-layout .ls-01 { letter-space: .1em; }
.sp-layout .ls-02 { letter-space: .2em; }
.sp-layout .ls-03 { letter-space: .3em; }
.sp-layout .ls-04 { letter-space: .4em; }
.sp-layout .ls-05 { letter-space: .5em; }
.sp-layout .ls-06 { letter-space: .6em; }
.sp-layout .ls-07 { letter-space: .7em; }
.sp-layout .ls-08 { letter-space: .8em; }
.sp-layout .ls-09 { letter-space: .9em; }
.sp-layout .ls-1, .sp-layout .ls-10 { letter-space: 1em; }

/* margin-top */
.sp-layout .pt-0, .sp-layout .pt-none { padding-top: 0; }
.sp-layout .pt-025 { padding-top: .25em; }
.sp-layout .pt-05 { padding-top: .25em; }
.sp-layout .pt-075 { padding-top: .25em; }
.sp-layout .pt-1, .sp-layout .pt-10 { padding-top: 1em; }
.sp-layout .pt-125 { padding-top: 1.25em; }
.sp-layout .pt-15 { padding-top: 1.5em; }
.sp-layout .pt-175 { padding-top: 1.75em; }
.sp-layout .pt-2, .sp-layout .pt-20 { padding-top: 2em; }
.sp-layout .pt-225 { padding-top: 2.25em; }
.sp-layout .pt-25 { padding-top: 2.5em; }
.sp-layout .pt-275 { padding-top: 2.75em; }
.sp-layout .pt-3, .sp-layout .pt-30 { padding-top: 3em; }

/* margin-bottom */
.sp-layout .pb-0, .sp-layout .pb-none { padding-bottom: 0; }
.sp-layout .pb-025 { padding-bottom: .25em; }
.sp-layout .pb-05 { padding-bottom: .25em; }
.sp-layout .pb-075 { padding-bottom: .25em; }
.sp-layout .pb-1, .sp-layout .pb-10 { padding-bottom: 1em; }
.sp-layout .pb-125 { padding-bottom: 1.25em; }
.sp-layout .pb-15 { padding-bottom: 1.5em; }
.sp-layout .pb-175 { padding-bottom: 1.75em; }
.sp-layout .pb-2, .sp-layout .pb-20 { padding-bottom: 2em; }
.sp-layout .pb-225 { padding-bottom: 2.25em; }
.sp-layout .pb-25 { padding-bottom: 2.5em; }
.sp-layout .pb-275 { padding-bottom: 2.75em; }
.sp-layout .pb-3, .sp-layout .pb-30 { padding-bottom: 3em; }

/* padding-left */
.sp-layout .pl-0, .sp-layout .pl-none { padding-left: 0; }
.sp-layout .pl-025 { padding-left: .25em; }
.sp-layout .pl-05 { padding-left: .25em; }
.sp-layout .pl-075 { padding-left: .25em; }
.sp-layout .pl-1, .sp-layout .pl-10 { padding-left: 1em; }
.sp-layout .pl-125 { padding-left: 1.25em; }
.sp-layout .pl-15 { padding-left: 1.5em; }
.sp-layout .pl-175 { padding-left: 1.75em; }
.sp-layout .pl-2, .sp-layout .pl-20 { padding-left: 2em; }
.sp-layout .pl-225 { padding-left: 2.25em; }
.sp-layout .pl-25 { padding-left: 2.5em; }
.sp-layout .pl-275 { padding-left: 2.75em; }
.sp-layout .pl-3, .sp-layout .pl-30 { padding-left: 3em; }

/* padding-right */
.sp-layout .pr-0, .sp-layout .pr-none { padding-right: 0; }
.sp-layout .pr-025 { padding-right: .25em; }
.sp-layout .pr-05 { padding-right: .25em; }
.sp-layout .pr-075 { padding-right: .25em; }
.sp-layout .pr-1, .sp-layout .pr-10 { padding-right: 1em; }
.sp-layout .pr-125 { padding-right: 1.25em; }
.sp-layout .pr-15 { padding-right: 1.5em; }
.sp-layout .pr-175 { padding-right: 1.75em; }
.sp-layout .pr-2, .sp-layout .pr-20 { padding-right: 2em; }
.sp-layout .pr-225 { padding-right: 2.25em; }
.sp-layout .pr-25 { padding-right: 2.5em; }
.sp-layout .pr-275 { padding-right: 2.75em; }
.sp-layout .pr-3, .sp-layout .pr-30 { padding-right: 3em; }

/***********************************
 * SharpUI Style Part
 * UI样式
 * Des: 构建交互友好的界面样式;
 ***********************************/


/***********************************
 * Icon Font Part
 * ICON图标样式
 * Des: 使用iconfont丰富样式;
 ***********************************/


/***********************************
 * Grid Part
 * 布局样式
 * Des: 用于构建响应式页面的栅格系统;
 ***********************************/
